// 页面全局样式
.index-page {
  background-color: #f5f5f5;
  min-height: 100vh;

  // 搜索栏样式
  .search-bar {
    background-color: #fff;
    padding: 20rpx;
    .search-input {
      height: 80rpx;
      background-color: #f5f5f5;
      border-radius: 40rpx;
      padding: 0 30rpx;
      font-size: 28rpx;
    }
  }

  // 轮播图样式
  .banner {
    width: 100%;
    .banner-img {
      width: 100%;
      height: auto;
    }
  }

  // 功能入口样式
  .func-grid {
    display: flex;
    background-color: #fff;
    margin-top: 20rpx;
    padding: 30rpx 0;
    .func-item {
      flex: 1;
      text-align: center;
      .func-text {
        font-size: 28rpx;
        color: #333;
      }
    }
  }

  // 酒店列表样式
  .hotel-list {
    margin-top: 20rpx;
    padding: 0 20rpx;
    .list-title {
      font-size: 32rpx;
      font-weight: bold;
      color: #333;
      margin-bottom: 20rpx;
      display: block;
    }
    .hotel-card {
      display: flex;
      background-color: #fff;
      border-radius: 10rpx;
      padding: 20rpx;
      .hotel-img {
        width: 180rpx;
        height: 120rpx;
        border-radius: 8rpx;
        margin-right: 20rpx;
      }
      .hotel-info {
        flex: 1;
        .hotel-name {
          font-size: 30rpx;
          color: #333;
          display: block;
          margin-bottom: 10rpx;
        }
        .hotel-address {
          font-size: 24rpx;
          color: #999;
          display: block;
          margin-bottom: 10rpx;
        }
        .hotel-price {
          font-size: 28rpx;
          color: #f60;
          font-weight: bold;
        }
      }
    }
  }
}